<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.palestratiium">
    <!-- permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".UserActivity.ActivityListaPt"></activity>
        <activity android:name=".UserActivity.ActivityEserciziLDellaListaAllenamento" />
        <activity android:name=".UserActivity.ActivityListaSchedaAllenamentoUser" />
        <activity android:name=".UserActivity.FiltroUser" />
        <activity android:name=".PersonalActivity.ModificaEsercizio" />
        <activity android:name=".PersonalActivity.PanelloDiUpload" />
        <activity android:name=".PersonalActivity.CreazioneSchedaAllenamento" />
        <activity android:name=".PersonalActivity.ProfiloPersonalTrainer" />
        <activity android:name=".PersonalActivity.HomePersonalTrainer" />
        <activity android:name=".UserActivity.WorkOut" />
        <activity
            android:name=".PersonalActivity.Upload"
            android:exported="false" />
        <activity android:name=".EserciziActivity" />
        <activity
            android:name=".UserActivity.ProfiloUser"
            android:exported="false" />
        <activity android:name=".ModifyPassword" />
        <activity android:name=".UserActivity.Home" />
        <activity android:name=".SignUp" /> <!-- No title bar inside app -->
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>